$col1: #E50914

*
    padding: 0px
    margin: 0px
    box-sizing: border-box
    list-style-type: none
    text-decoration: none
    cursor: default
body
    -ms-overflow-style: none
    scrollbar-width: none
    overflow-y: scroll
    background: black
body::-webkit-scrollbar
    display: none

.header
    // position: absolute
    // right: 0px
    // top: 0px
    width: 100%
    background: url(../image/page-bg.jpg) no-repeat center center
    background-size: cover
.header::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 1
    background: rgba(0,0,0, 0.4)
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8))
.navbar
    width: 100%
    padding-top: 28px
    display: flex
    justify-content: space-between
    // padding-left:
    // z-index: 2 
    .logo
        z-index: 2
        img
            width: 134px
    .form-bar
        z-index: 2
        display: flex
        .lang-sel
            height: 34.198px !important
            width: 100.6px

            .world
                position: absolute
                margin-top: 10px
                margin-left: 10px
            .arrow
                position: absolute
                margin-left: 80px
                margin-top: 10px
            select
                outline: none
                -webkit-appearance: none
                height: 3.198px !important
                width: 100.6px
                height: 36px!important
                border: 1px solid #b3b3b3
                background-color: transparent
                color: white
                text-align: center
                border-radius: 3px

                option
                    background: #949a9c
        .signin
            button
                padding: 7px 17px
                background: $col1
                color: white
                border-radius: 3px
                // border: 2px solid $col1
                border: 0px
                font-size: 1rem
                font-weight: 400
                margin-left: 32px
.content
    width: 100%
    height: 100%
    padding: 75px 45px
    z-index: 3
    position: absolute
    text-align: center
    .content-general
        padding-left: 120px
        padding-right: 120px
        z-index: 3
        padding-top: 75px
        .con-header
            font-size: 50px
            font-family: helvetica
            color: white
            font-weight: 700
            z-index: 3
        .con-center
            margin-top: 16px
            margin-bottom: 16px
            font-size: 26px
            font-weight: 400
            line-height: normal
            color: rgb(255, 255, 255)
            font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
        .con-theme
            font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
            font-size: 1.2rem
            color: white
            padding-top: 13.6px
            margin-bottom: 20px
        .con-footer
            display: flex
            justify-content: center
            align-items: center
            input
                width: 450px
                height: 60px
                border: 0px
                padding-left: 20px
                font-family: helvetica
                color: black
                font-size: 16px
            label
                position: absolute
                margin-right: 520px
                color: gray
                font-family: helvetica
            button
                width: 212px
                height: 60px
                border: 0px
                background-color: $col1
                font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
                color: white
                font-size: 26px
                display: flex
                justify-content: center
                align-items: center
                .right-arrow
                    height: 24px !important

.line
    width: 100%
    height: 8px
    background-color: #222222

.main
    width: 100%
    height: 325.917+140+ px
    display: flex
    justify-content: center
    align-content: center
    padding-bottom: 70px
    padding-top: 70px
    padding-left: 45px
    padding-right: 45px
    background: black
    .left-main
        width: 52%
        height: 100%
        // background: orange
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        font-family: Helvetica, sans-serif
        .lm-top
            font-size: 50px
            // color: white
            font-weight: 700
            // font-family: Helvetica, sans-serif
        .lm-end
            font-size: 1.625rem
            padding: 0 3rem 0 0
            margin: 0.75em 0 0.25em

    .right-main
        width: 48%
        height: 100%
        // background: red
        display: flex
        justify-content: center
        align-items: center

        img
            width: 100%
            padding: 50px 5%
            z-index: 2
        video
            position: absolute
            z-index: 0
            width: 30vw
            margin-top: -5px

.main02
    width: 100%
    // height: 462px
    background: black
    color: #fff
    margin-bottom: 0
    padding: 70px 45px
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif
    .main02-con
        align-items: center
        display: flex
        justify-content: space-between
        margin: 0 auto
        max-width: 1100px
        // background: red
        .left-main02
            // box-sizing: border-box
            display: flex
            flex: 0 1 auto
            height: 100%
            width: 48%
            .left-main02-top
                margin: -8% 0 -4% -15%
                min-height: 100px
                width: 100%

                img
                    border: 0
                    height: auto
                    max-width: 100%
                    z-index: 2
                    margin-bottom: -90px
                .lm02t-end
                    position: relative
                    // padding: 0.5em 0.75em
                    // align-items: center
                    background: #000000
                    border: 2px solid hsla(0,0%,100%,.25)
                    border-radius: 0.75em
                    box-shadow: 0 0 2em 0 #000
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 0 auto
                    min-width: 15em
                    padding: 0.25em 0.65em
                    height: 92px
                    // margin-bottom: 30px
                    width: 60%
                    z-index: 8
                    // overflow: hidden
                    .lm02t-end-left
                        width: 25%
                        height: 100%
                        margin-top: 5px
                        img
                            margin-bottom: 0px
                            // width: 70%
                            height: 90%
                            // height: 90%
                            // width: 90%
                    .lm02t-end-center
                        width: 50%
                        display: flex
                        flex-direction: column
                        justify-content: center
                        .lm02tec-a
                            font-weight: 600
                            font-size: 1em
                        .lm02tec-b
                            font-size: 0.9em
                            color: #0071eb
                    .lm02t-end-right
                        width: 25%
                        img
                            margin-bottom: 0px

        .right-main02
            color: white
            width: 52%
            .rm02-top
                font-size: 3.125rem
                font-weight: 700
            .rm02-end
                font-size: 1.65rem
                margin: 0.75em 0 0.25em
.right-main03
    width: 48%
    height: 100%
        // background: red
    display: flex
    justify-content: center
    align-items: center

    img
        width: 100%
        padding: 50px 5%
        z-index: 2
    video
        position: absolute
        z-index: 0
        width: 25vw
        margin-top: -50px

.main04
    width: 100%
    padding: 45px 45px
    background: black
    // margin-bottom: 0
    .main04-theme
        align-items: center
        display: flex
        justify-content: space-between
        margin: 0 auto
        // margin-left: 45px
        // margin-right: 45px
        max-width: 1100px
        .m04-left
            width: 48%
            img
                border: 0
                height: auto
                max-width: 95%
        .m04-right
            color: white
            font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
            // padding-left: 48px
            padding: 0 0 0 3rem
            width: 52%
            .m04header
                // font-size: 2.5rem !important
                font-weight: 700
                line-height: 1.1
                font-size: 46px
                // font-size: 50px !important
            .m04content
                font-size: 1.625rem
                font-weight: 400
                margin: 0.75em 0 0.25em
.faq
    padding: 70px 45px
    width: 100%
    text-align: center
    background: black
    color: #fff
    margin-bottom: 0
    // padding: 50px 5%
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .faq-head
        font-size: 3.125rem
        font-weight: 700
        margin-bottom: 40px
    .faq-header
        width: 67.5%
        // height: 40px
        background: #303030
        text-align: left
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20.8px 31.2px
        // margin-bottom: 4px
        margin-bottom: 8px
        div
            // padding: 0.8em 2.2em 0.8em 1.2em
            font-size: 1.625rem
    .faq-content
        margin-bottom: 8px
        width: 67.5%
        // margin-top: 2px
        background: #303030
        text-align: left
        padding: 20.8px 31.2px
        font-size: 1.625rem
        display: none
        // margin-bottom: 2px
    .con-theme
        font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 1.2rem
        color: white
        padding-top: 13.6px
        margin-bottom: 20px
        margin-top: 60px
    form
        display: flex
        justify-content: center
        align-items: center
        input
            width: 450px
            height: 60px
            border: 0px
            padding-left: 20px
            font-family: helvetica
            color: black
            font-size: 16px
        label
            position: absolute
            margin-right: 520px
            color: gray
            font-family: helvetica
        button
            width: 212px
            height: 60px
            border: 0px
            background-color: $col1
            font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
            color: white
            font-size: 26px
            display: flex
            justify-content: center
            align-items: center
            .right-arrow
                height: 24px !important

footer
    color: rgb(115, 115, 115)
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 16px
    font-weight: 400
    padding-top: 70px
    padding-right: 45px
    padding-left: 45px
    background: black
    .footer-content
        background: black
        margin-left: 95px
        margin-right: 95px
        .footer-button
            box-sizing: border-box
            margin-top: 30px
            padding-top: 12px
            padding-bottom: 12px
            padding-right: 12px
            padding-left: 12px
            display: flex
            justify-content: space-between
            align-items: center
            border: 1px solid #333
            width: 15%
            margin-bottom: 30px
            select
                height: 100%
                line-height: 1.7
                outline: none
                -webkit-appearance: none
                background: none
                border: 0px
                color: #737373
                font-size: 16px
                // position: absolute
        .footer-theme
            margin-bottom: 30px
        table
            width: 100%
            tr
                height: 32px
                td
                    padding: 0 12px 0 0
        .footer-end
            margin-bottom: 13px
            font-size: 14px
            margin-top: 24px
            font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
            margin-bottom: 30px

@media screen and (min-width: 1449px)
    .header, .header::after
        height: 734.385px
@media screen and (min-width: 950px) and (max-width: 1449px)
    .header,.header::after
        height: 693.594px
    .navbar
        padding-left: 56px
        padding-right: 56px
@media screen and (min-width: 740px) and (max-width: 949px)
    .header,.header::after
        height: 742px

@media screen and (max-width: 739px)
    .header,.header::after
        height: 716.667px
